.about {
  background-image: url('../../images/PageImages/bg4.jpg');
  background-size: cover;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  padding: 4em;
  color: #fff;
  margin: 0 auto;
  background-repeat: repeat;
  width: 88vw;
}

.about-text {
  width: 80vw;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.15);
  text-align: justify;
}

.line {
  width: 80vw;
}

.banner {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.head-icon {
  margin: 0;
}

.skills-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 50vw;
  justify-content: space-around;
  padding: 0 0.5em;
  font-size: 0.8em;
  margin: 0 auto;
}

.skills-card {
  border: 0.1px solid rgba(255, 255, 255, 0.223);
  padding: 0 0.5em;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
}

@media (max-width: 768px) {
  .skills-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    width: 50vw;
    justify-content: space-around;
    padding: 0 0.5em;
    font-size: 0.8em;
    margin: 0 auto;
  }
}

.sub-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

li {
  list-style: square;
  line-height: 25px;
}
