* {
  box-sizing: border-box;
}

/* html {
  max-width: 1440px;
  margin: 0 auto;
} */

.socials {
  width: 2em;
  height: 2em;
  align-items: center;
  justify-items: center;
}

.socials:hover {
  width: 2.5em;
  height: 2.5em;
}

.social-icons {
  align-content: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 50px;
  column-gap: 2.5em;
  padding-top: 1.6em;
}
