/* * {
font-size: 16px;
color: #d1cfcf;
} */

.navigation {
  display: flex;
  background-color: rgb(51, 50, 50);
  gap: 4%;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 6vh;
  border-bottom: solid 1px #fff;
}

.link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-right: 2%;
}

.bbl {
  color: #fff;
  text-decoration: none;
  font-size: 1.8em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 20em;
}

.link:hover {
  font-size: 1em;
  border: solid 1px #fff;
  padding: 10px;
}

.link:active {
  color: #000;
  font-size: 1.2em;
  border: solid 1px #fff;
  padding: 10px;
}

.logo {
  margin-right: 40%;
  color: #c9cccf;
  font-size: 1.5em;
}

h3 {
  text-align: center;
}
