/* * {
font-size: 16px;
color: #d1cfcf;
} */

.navigation {
  display: flex;
  background-color: #B03B83;
  gap: 4%;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 6vh;
  border-bottom: solid 1px #fff;
}

.link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-right: 2%;
}

.bbl {
  color: #fff;
  font-size: 1.8em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  margin-right: 20em;
  margin-left: 15px;
}

.link:hover {
  font-size: 1em;
  border: solid 1px #fff;
  padding: 5px;
}

.link:active {
  background-color: #fff;
  color: #B03B83;
  font-size: 1.1em;
  border: solid 1px #fff;
  padding: 5px;
}

.logo {
  margin-right: 40%;
  color: #c9cccf;
  font-size: 1.5em;
  text-decoration: none;
}

h3 {
  text-align: center;
}
