
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /* width: 100vw; */
  overflow-x: hidden;

}

.view-port {
  display: flex;
  align-items: center;
  /* overflow-x: hidden; */
}

.nav-wrapper {
  flex: 0 0 12%;
}

.content-wrapper {
  flex: 1;
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-left: 6%; */
  width: 88%;
  height: fit-content;
}

@media (max-width: 768px) {
  .nav-wrapper {
    display: none;
  }
}